section {
  min-height: 100vh;
  padding: var(--spacing-2xl) 0;
  display: flex;
  align-items: center;

  h2 {
    margin-bottom: var(--spacing-lg);
    color: white;
    font-size: 2.5rem;
  }

  p {
    color: white;
  }
}
